html {
  --p-purple: #7A5EC2;
  --p-pink: #AD9ACF;
  --p-white: #F9EBFF;
  --p-green: #00C9A3;
}

body {
  width: 100vw;
}

h1 {
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

p {
  text-align: center;
  padding: 1rem;
}

button > a {
  color: var(--p-white);
}

.main-links, .main-form {
  width: 20vw;
  padding: 4rem 0rem;
  margin: 0 auto;
}

.main-form > input {
  margin: .5rem;
}

.forecast {
  display: grid;
}

.current {
  grid-template-columns: repeat(3, 1fr);
}

.hourly {
  grid-template-columns: repeat(8, 1fr);
}

.removed {
  display: none;
}

.current-weather {
  background-color: var(--p-purple);
  color: var(--p-white);
  display: flex;
}

.info-main {
  font-weight: 800;
}

.info-sub {
  font-weight: 500;
}
