html {
  --p-purple: #7A5EC2;
  --p-pink: #AD9ACF;
  --p-white: #F9EBFF;
  --p-green: #00C9A3;
}

body {
  width: 100vw;
}

h1 {
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

p {
  text-align: center;
  padding: 1rem;
}

button > a {
  color: var(--p-white);
}

.main-links, .main-form {
  width: 20vw;
  padding: 4rem 0rem;
  margin: 0 auto;
}

.main-form > input {
  margin: .5rem;
}

.forecast {
  display: flex;
}

.forecast > div {
  border: 1px solid black;
}

.removed {
  display: none;
}

.current {
  display: flex;
  flex-direction: column;
  color: var(--p-white);
}

.current.overview {
  background-color: var(--p-purple);
}

.current.details {
  background-color: var(--p-pink);
}

.current.summaries {
  background-color: var(--p-green);
  display: flex;
  flex-direction: column;
}

.weather-icon {
  display: flex;
  margin: 0 auto;
}

.daily.summaries > div {
  margin: 0 26rem;
}

.weather-icon.summaries, .weather-desc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.weather-desc.daily {
  display: flex;
  flex-direction: column;
}

.weather-desc.daily > div {
  display: flex;
}

.summaries > div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.weather-icon > * {
  padding: 1rem;
}

.weather-main {
  font-weight: 800;
}

.weather-details {
  font-weight: 500;
  min-width: 12rem;
  max-width: 16rem;
}
